<nav class="navbar navbar-light navbar-expand-md nav-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">OpenPay API</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/"><i class="fa fa-cube"></i> TESTING</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/signup">Registrate! </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/users"><i class="fa fa-users"></i> Usuarios</a></li>
            </ul>
        </div>
    </div>
</nav>
