<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-header">
        Sign up now.
        </div>
        <div class="card-body">
          <h5 class="card-title">NodeJS demo app | OpenPay</h5>
          <p class="card-text"></p>
          <a href="/signup" class="btn btn-primary" >&nbsp Registrate</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago lorem
        </div>
      </div>
    </div>
  </div>
</div>
